## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
# Your code here
sample_list_1 = random.sample(range(0,100),k=80)
print(sample_list_1)
print(len(sample_list_1))

[16, 28, 63, 15, 75, 50, 89, 13, 74, 19, 79, 1, 24, 80, 49, 42, 34, 62, 60, 69, 29, 40, 9, 25, 33, 26, 5, 70, 96, 39, 41, 72, 94, 44, 22, 43, 36, 76, 87, 92, 30, 52, 58, 7, 90, 84, 11, 27, 81, 86, 46, 77, 61, 48, 67, 6, 20, 93, 64, 38, 54, 10, 51, 32, 23, 4, 73, 57, 56, 71, 68, 18, 85, 88, 2, 53, 17, 12, 97, 35]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
#YES

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
# Your code here
sample_list_2 = []

for i in range(0,80):
    sample_list_2.extend(random.sample(range(0,100),k=1))
print(sample_list_2)

[26, 4, 44, 15, 30, 55, 92, 73, 88, 29, 98, 74, 55, 69, 40, 45, 78, 80, 89, 26, 97, 8, 11, 76, 98, 63, 91, 70, 34, 55, 43, 57, 72, 91, 85, 70, 19, 86, 3, 18, 59, 29, 68, 95, 30, 93, 11, 37, 30, 50, 11, 67, 22, 44, 85, 94, 67, 90, 58, 31, 13, 88, 59, 40, 1, 60, 85, 16, 74, 63, 96, 84, 91, 93, 45, 96, 74, 63, 16, 23]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
#No, it is not because sample_list_2 had repetead numbers

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 5, 6, 7, 9, 10, 12, 17, 20, 24, 25, 27, 28, 32, 33, 35, 36, 38, 39, 41, 42, 46, 48, 49, 51, 52, 53, 54, 56, 61, 62, 64, 71, 75, 77, 79, 81, 87}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [21]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{98, 3, 37, 8, 91, 45, 78, 55, 59, 95, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 4, 11, 13, 15, 16, 18, 19, 22, 23, 26, 29, 30, 34, 40, 43, 44, 50, 57, 58, 60, 63, 67, 68, 69, 70, 72, 73, 74, 76, 80, 84, 85, 86, 88, 89, 90, 92, 93, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [23]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#len(set1)>len(set2)>len(set5)>len(set3)>lenset1

80
53
38
11
42

#### Create an empty set called `set6`.

In [24]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# Your code here
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{2, 5, 6, 7, 9, 10, 12, 17, 20, 24, 25, 27, 28, 32, 33, 35, 36, 38, 39, 41, 42, 46, 48, 49, 51, 52, 53, 54, 56, 61, 62, 64, 71, 75, 77, 79, 81, 87}
{1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97}

#### Check if `set1` and `set6` are equal.

In [26]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [27]:
# Your code here
set2.issubset(set1)

False

In [28]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here
set345 = set3.union(set4.union(set5))
set12 = set1.union(set2)
set12.difference(set345)
#set123 and set345 are the same
print(set12)
print(set345)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Using the `pop` method, remove the first element from `set1`.

In [30]:
# Your code here
#no se puede remover ni first ni last element porque en un set no est√°n ordenados, 
#pop solo sirve para eliminar un elemento aleatorio del set
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [32]:
# Your code here
#print(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

common_numbers = list(set1.intersection(list_to_remove))
#print(common_numbers)

for i in range(0,len(common_numbers)):
    set1.remove(common_numbers[i])
print(set1)

{2, 4, 5, 6, 7, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 44, 46, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 67, 68, 70, 72, 73, 74, 75, 76, 77, 80, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97}