## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here
sample_list_1 = random.sample(range(0,100),k=80)
print(sample_list_1)
print(len(sample_list_1))

[88, 57, 99, 86, 58, 60, 55, 4, 94, 62, 9, 26, 89, 21, 98, 29, 36, 81, 32, 95, 23, 74, 49, 2, 92, 34, 72, 71, 41, 18, 42, 11, 93, 5, 25, 53, 50, 37, 3, 48, 75, 16, 70, 85, 69, 30, 17, 35, 44, 84, 46, 31, 54, 28, 78, 63, 83, 65, 39, 14, 76, 24, 43, 66, 64, 80, 61, 15, 10, 77, 38, 47, 51, 22, 96, 52, 91, 6, 97, 87]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
#YES

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [36]:
# Your code here
print("ok")
sample_list_2 = []

for i in range(0,80):
    sample_list_2.extend(random.sample(range(0,100),k=1))
print(sample_list_2)

ok
[45, 64, 15, 45, 15, 25, 50, 19, 55, 93, 41, 28, 77, 56, 30, 25, 51, 93, 13, 7, 36, 86, 94, 20, 69, 43, 85, 66, 30, 53, 81, 97, 76, 31, 67, 86, 65, 64, 90, 65, 83, 81, 76, 59, 60, 72, 5, 71, 97, 86, 76, 12, 48, 72, 8, 65, 26, 86, 62, 86, 63, 45, 9, 57, 99, 26, 68, 26, 41, 61, 43, 97, 1, 81, 90, 23, 67, 66, 98, 27]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [38]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [39]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 3, 4, 6, 10, 11, 14, 16, 17, 18, 21, 22, 24, 29, 32, 34, 35, 37, 38, 39, 42, 44, 46, 47, 49, 52, 54, 58, 70, 74, 75, 78, 80, 84, 87, 88, 89, 91, 92, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [40]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{1, 67, 68, 7, 8, 59, 12, 13, 45, 19, 20, 56, 90, 27}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [41]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{5, 9, 15, 23, 25, 26, 28, 30, 31, 36, 41, 43, 48, 50, 51, 53, 55, 57, 60, 61, 62, 63, 64, 65, 66, 69, 71, 72, 76, 77, 81, 83, 85, 86, 93, 94, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [43]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#len(set1)>len(set2)>len(set3)>len(set5)>lenset4

80
53
41
14
39

#### Create an empty set called `set6`.

In [46]:
# Your code here
set6 = set()
print(set6)
#print(type(set6))

set()
<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [50]:
# Your code here
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{2, 3, 4, 6, 10, 11, 14, 16, 17, 18, 21, 22, 24, 29, 32, 34, 35, 37, 38, 39, 42, 44, 46, 47, 49, 52, 54, 58, 70, 74, 75, 78, 80, 84, 87, 88, 89, 91, 92, 95, 96}
{2, 3, 4, 5, 6, 9, 10, 11, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [51]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [52]:
# Your code here
set2.issubset(set1)

False

In [53]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [58]:
# Your code here
set345 = set3.union(set4.union(set5))
set12 = set1.union(set2)
set12.difference(set345)
#set123 and set345 are the same
print(set12)
print(set345)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
#no se puede remover ni first ni last element porque en un set no están ordenados, 
#pop solo sirve para eliminar un elemento aleatorio del set
set1.pop()

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [64]:
# Your code here
print(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

common_numbers = list(set1.intersection(list_to_remove))
print(common_numbers)

for i in range(0,len(common_numbers)):
    set1.remove(common_numbers[i])
print(set1)

{3, 4, 5, 6, 9, 10, 11, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}
[99, 69, 39, 71, 9, 41, 11, 49, 81, 51, 61, 21, 89, 91, 29, 31]
{3, 4, 5, 6, 10, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 28, 30, 32, 34, 35, 36, 37, 38, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 74, 75, 76, 77, 78, 80, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98}